<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div class="line-mid"></div>
        <div id="page-loading">
            <img src="img/avatar.png" alt="avatar.png" />
        </div>
        <header class="header">

            <div class="header-bottom">
                <div class="container-full">
                    <div class="header-bottom-inner">
                        <div class="header-lt">
                            <div class="header-logo">
                                <a href="home.html">
                                    <img src="./img/avatar.png" alt="avatar.png">
                                </a>
                            </div>
                            <div class="header-menu">
                                <div class="header-menu-inner">
                                    <div class="header-menu-logo">
                                        <a href="home.html">
                                            <img src="./img/avatar.png" alt="avatar.png">
                                        </a>
                                    </div>
                                    <ul class="header-menu-nav">
                                        <li class="current-menu">
                                            <a href="#profile">Profile</a>
                                        </li>
                                        <li>
                                            <a href="#projects">Projects</a>
                                        </li>

                                        <li>
                                            <a href="#achievements">Achievements</a>
                                        </li>
                                    </ul>
                                    <div class="header-menu-socail">
                                        <a href="#" class="menu-socail socail-face">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="menu-socail socail-youtube">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="menu-socail socail-insta">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="overplay"></div>
                            </div>
                        </div>

                        <div class="header-rt">
                            <div class="header-info">
                                <div class="header-if">
                                    <p class="tt-12">Hotline</p>
                                    <a class="tt-18 main-cl" href="tel:+84902345678">+84 902 345 678</a>
                                    <a class="if-icon" href="tel:+84902345678">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="header-if">
                                    <p class="tt-12">Email</p>
                                    <a class="tt-18" href="mailto:tonthanhtv@gmail.com">tonthanhtv@gmail.com</a>
                                    <a class="if-icon" href="mailto:tonthanhtv@gmail.com">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>

                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banner landing" id="profile">
                <div class="container">
                    <div class="banner-wrapper">
                        <div class="columns">
                            <div class="column banner-ig">
                                <div class="banner-img">
                                    <img src="./img/img-people.png" alt="img-people.png">
                                </div>
                            </div>
                            <div class="column banner-txt">
                                <div class="banner-inner">
                                    <div class="banner-label f-light tt-72 t-uppercase wow animate__rubberBand ">
                                        My friend <br> call me <span class="f-bold f-italic main-cl  ">A sing</span>
                                    </div>
                                    <div class="banner-text">
                                        <div class="banner-name tt-40 t-uppercase ">
                                            <h3 class="f-bold">To ton thanh</h3>
                                            <span
                                                class="f-light wow animate__lightSpeedInRight animate-delay-200">Youtuber</span>
                                        </div>
                                        <div class="banner-year t-uppercase tt-16">
                                            01 October 1994
                                        </div>
                                        <div class="banner-desc">
                                            <div class="banner-item tt-18">
                                                <p class="wow " data-aos="fade-up">
                                                    Graduated from University of Science and Technology majoring in
                                                    Petroleum Geology
                                                </p>
                                                <p class="wow " data-aos="fade-up" data-aos-delay="400">
                                                    Graduated with a Master's degree in Geology at Chungnam
                                                    National University
                                                </p>
                                                <p class="wow " data-aos="fade-up" data-aos-delay="600">
                                                    Currently studying Korean-Vietnamese Interpreting and Translating at
                                                    IGSE (International Graduate School of English)
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="say-intro sec-100">
                <div class="container">
                    <div class="intro-wrapper" data-aos="fade-up" data-aos-offset="100">
                        <img src="./img/day-phay.svg" alt="day-phay.svg" class="intro-icon">
                        <p class="intro-text tt-20 f-italic">
                            As an international student in Korea, Thanh wants to share what he has witnessed and felt
                            during the process of studying and working in the land of kimchi. From there, it can provide
                            more useful information and motivate other young people in Vietnam who also want to study in
                            Korea or aspire to learn about the outside world.
                        </p>
                    </div>
                </div>
            </div>

            <section class="projects landing" id="projects">
                <div class="container">
                    <div class="projects-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="projects-iner">
                                    <div class="projects-title tt-72 f-light t-uppercase wow animate__bounceInLeft">
                                        what <br>
                                        <span class="f-bold">
                                            me do
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column projects-txt">
                                <div class="projects-iner">
                                    <p class="projects-t tt-20 f-light ">
                                        These are some of my recent favorites – <br>
                                        always subject to change.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-full">
                    <div class="projects-wrap">
                        <div class="grid">
                            <div class="grid-sizer"></div>
                            <div class="  grid-item grid-item--width1 grid-item--height1" data-aos="fade-up">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-1.png" alt="sing-1.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item" data-aos="fade-left" data-aos-delay="400">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-2.png" alt="sing-2.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--width1" data-aos="fade-left" data-aos-delay="600">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-3.png" alt="sing-3.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item" data-aos="fade-left" data-aos-delay="800">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-4.png" alt="sing-4.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--width1" data-aos="fade-left" data-aos-delay="1000">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-5.png" alt="sing-5.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item" data-aos="fade-left" data-aos-delay="1200">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-6.png" alt="sing-6.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="grid-item" data-aos="fade-left" data-aos-delay="1400">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-7.png" alt="sing-7.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item" data-aos="fade-left" data-aos-delay="1600">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-2.png" alt="sing-2.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--width1" data-aos="fade-left" data-aos-delay="1800">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-3.png" alt="sing-3.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item item-ten" data-aos="fade-left" data-aos-delay="2000">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-4.png" alt="sing-4.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item item-ele  grid-item--width1" data-aos="fade-left" data-aos-delay="2200">
                                <div class="projects-inner">
                                    <div class="projects-img">
                                        <img src="./img/sing-3.png" alt="sing-3.png">
                                    </div>
                                    <div class="projects-content">
                                        <div class="project-text">
                                            <div class="projects-date t-uppercase tt-12 f-light">
                                                25 sep 2017
                                            </div>

                                            <div class="projects-tt f-bold tt-18">
                                                <a href="#">
                                                    Đại sứ thương hiệu cho trung tâm
                                                    du học Sunny
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="achievements landing" id="achievements">
                <div class="container">
                    <div class="achi-wrapper">
                        <div class="achi-head">
                            <div class="columns">
                                <div class="column">
                                    <div class="achi-iner">
                                        <div class="achi-title tt-72 f-light t-uppercase wow animate__bounceInLeft">
                                            Awards <br>
                                            <span class="f-bold">
                                                Honors
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column achi-txt">
                                    <div class="achi-iner">
                                        <p class="achi-t tt-20 f-light">
                                            I’ve been honored to receive some notable recognitions over the last few
                                            years.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="achi-inner">
                            <div class="achi-view">
                                <div class="achi-box">
                                    <div class="achi-item wow animate__bounceInRight">
                                        <p class="achi-label tt-16 f-light t-uppercase">
                                            Follower
                                        </p>
                                        <p class="achi-conte tt-40 f-bold">
                                            283.000
                                        </p>
                                    </div>

                                    <div class="achi-item wow animate__bounceInRight animate-delay-200">
                                        <p class="achi-label tt-16 f-light t-uppercase">
                                            Viewer
                                        </p>
                                        <p class="achi-conte tt-40 f-bold">
                                            32.000.000
                                        </p>
                                    </div>
                                    <div class="achi-item achi-most-v wow animate__bounceInLeft animate-delay-200">
                                        <div class="achi-text">
                                            <p class="achi-label tt-16 f-light t-uppercase">
                                                the most views
                                            </p>
                                            <p class="achi-conte tt-40 f-bold">
                                                1.800.000
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="achi-tyear">
                                <div class="achi-box">
                                    <div class="achi-item" data-aos="fade-up">
                                        <p class="achi-label tt-16 f-light t-uppercase">
                                            2019
                                        </p>
                                        <p class="achi-conte tt-20 f-light">
                                            Attend the scientific conference EGU General Assembly, Europe's largest
                                            annual
                                            geoscience event, in Vienna, Austria
                                        </p>
                                    </div>
                                    <div class="achi-item" data-aos="fade-up" data-aos-delay="400">
                                        <p class="achi-label tt-16 f-light t-uppercase">
                                            2020
                                        </p>
                                        <p class="achi-conte tt-20 f-light">
                                            Tham dự hội nghị về địa chất tại San Francisco, Mỹ
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="achi-wrap slide-center" data-aos="fade-up">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="achi-slide">
                                            <div class="achi-video">
                                                <!-- <iframe width="560" height="315" class="youtube" id="youtube"
                                                    src="https://www.youtube.com/embed/mP3k57Vx4wA"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe> -->

                                                <video width="320" height="660" class="youtube-video">
                                                    <source type="video/youtube"    src="https://www.youtube.com/mP3k57Vx4wA" />
                                                </video>

                                            </div>
                                            <div class="achi-content">
                                                <div class="achi-hed">
                                                    <div class="achi-tag main-cl t-uppercase tt-16">
                                                        <a href="#">
                                                            #DUHOCHANQUOC
                                                        </a>
                                                        <a href="#">
                                                            #ASINGDIDAIHAN
                                                        </a>
                                                    </div>
                                                    <div class="achi-hed-right t-uppercase tt-26 f-light">
                                                        <p>333,412 views</p>
                                                        <p class="pl-20">jun 14,2021</p>
                                                    </div>
                                                </div>
                                                <div class="achi-text tt-20 f-light">
                                                    <p>Internship at KOREAN GAME GROUP?! Are <br> you a GAME PLAYER?</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="achi-slide">
                                            <div class="achi-video">
                                                <!-- <iframe width="560" height="315" class="youtube"
                                                    src="https://www.youtube.com/embed/6aK5wlU00C8"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe> -->

                                                <video      width="auto" height="660" class="youtube-video">
                                                    <source type="video/youtube"   src="https://youtu.be/mP3k57Vx4wA" />
                                                </video>

                                            </div>
                                            <div class="achi-content">
                                                <div class="achi-tag main-cl t-uppercase tt-16">
                                                    <a href="#">
                                                        #DUHOCHANQUOC
                                                    </a>
                                                    <a href="#">
                                                        #ASINGDIDAIHAN
                                                    </a>
                                                </div>
                                                <div class="achi-text tt-20 f-light">
                                                    <p>Internship at KOREAN GAME GROUP?! Are <br> you a GAME PLAYER?</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="achi-slide">
                                            <div class="achi-video">
                                                <!-- <iframe width="560" height="315" class="youtube"
                                                    src="https://www.youtube.com/embed/1rZp0Js_3DM"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe> -->

                                                    <video width="320" height="660" class="youtube-video">
                                                        <source type="video/youtube"  src="https://www.youtube.com/1rZp0Js_3DM" />
                                                    </video>
                                            </div>
                                            <div class="achi-content">
                                                <div class="achi-tag main-cl t-uppercase tt-16">
                                                    <a href="#">
                                                        #DUHOCHANQUOC
                                                    </a>
                                                    <a href="#">
                                                        #ASINGDIDAIHAN
                                                    </a>
                                                </div>
                                                <div class="achi-text tt-20 f-light">
                                                    <p>Internship at KOREAN GAME GROUP?! Are <br> you a GAME PLAYER?</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>
                            </div>
                        </div>


                    </div>

                </div>
            </section>

        </main>
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-wrapper">
                        <div class="ft-avatar">
                            <a href="#">
                                <img src="./img/ft-avatar.png" alt="ft-avatar.png">
                            </a>
                        </div>
                        <div class="ft-hotline">
                            <p class="tt-12 f-light">
                                Hotline
                            </p>
                            <a href="tel:+84902345678" class="tt-18 main-cl">+84 902 345 678</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-wrapper">
                        <div class="ft-inner">
                            <div class="ft-list">
                                <div class="ft-item">
                                    <a class="ft-social t-uppercase f-bold">
                                        <div class="ft-icon">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </div>
                                        facebook
                                    </a>
                                </div>
                                <div class="ft-item">
                                    <a class="ft-social t-uppercase f-bold">
                                        <div class="ft-icon">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </div>
                                        YOutube
                                    </a>
                                </div>
                                <div class="ft-item">
                                    <a class="ft-social t-uppercase f-bold">
                                        <div class="ft-icon">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </div>
                                        instagram
                                    </a>
                                </div>
                                <div class="ft-item">
                                    <a class="ft-social t-uppercase f-bold">
                                        <div class="ft-icon">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </div>
                                        email
                                    </a>
                                </div>
                                <div class="ft-item">
                                    <a class="ft-link t-uppercase f-bold">
                                        Facebook Group
                                    </a>
                                </div>
                                <div class="ft-item">
                                    <a class="ft-link t-uppercase f-bold">
                                        Facebook Fanpage
                                    </a>
                                </div>
                            </div>
                            <div class="copy-right">
                                <p>
                                    Designed and developed by Mona Media
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

        <div class="fix-social">
            <div class="fix-text">
                <a href="#" class="t-uppercase f-bold">
                    facebook
                    <div class="fix-icon">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="fix-text">
                <a href="#" class="t-uppercase f-bold">
                    Youtube
                    <div class="fix-icon">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="fix-text">
                <a href="#" class="t-uppercase f-bold">
                    instagram
                    <div class="fix-icon">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>


        <!-- scroll top 1 -->
        <div class="scroll-top"></div>

    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- youtube -->
    <script src="./js/libs/youtube/YouTubeToHtml5.js"></script>
    <!-- masonrys -->
    <script src="./js/libs/masonrys/masonry-docs.min.js"></script>
    <script src="./js/libs/masonrys/masonry.pkgd.js"></script>
    <!-- media -->
    <script src="./js/libs/media/mediaelement-and-player.min.js"></script>

    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>